<div class="container mx-auto flex flex-col items-center">
  <div class="py-8">
    <h1 class="text-4xl">
      Ingredients
    </h1>
  </div>

  <div class="py-4">
    <p class="">
      The ingredients below can be combined into Recipies and Meals.
    </p>
  </div>
</div>

<ul class="flex flex-col items-center">
  <% @ingredients.each do |ingredient| %>
    <li class="py-1">
      <%= ingredient.name %>
    </li>
  <% end %>
</ul>
