<div class="container flex flex-col h-full">
  <div class="py-8">
    <h1 class="text-4xl font-bold text-center">
      Ingredients
    </h1>
  </div>

  <p class="p-4">
    The ingredients below can be combined into Recipies and Meals.
  </p>

  <div class="flex flex-row flex-wrap max-w-full">
    <% @ingredients.each do |ingredient| %>
      <div class="p-4 border border-gray-300 rounded">
        <%= ingredient.name %>
        <%= ingredient.description %>
      </div>
    <% end %>
  </div>
</div>
