<h1 class="border border-grey-500 text-center">
  Ingredients
</h1>

<p>
The ingredients below can be combined into Recipies and Meals.
</p>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name %>
    </li>
  <% end %>
</ul>


